@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@664&display=swap');


*{margin: 0; padding: 0;}

body::-webkit-scrollbar {display: none;}

.nav{
    background: #092634;
    font-family:cursive;
    overflow: hidden;
    position: relative;
    justify-items: center;
    align-items: center;
    display: flex;
}

.title{
    font-size: 25px;
    align-items:center;
    padding: 24px 46px 23px 51px;
    color: #88efef;
}
.title:hover{
    color:turquoise;
    transition: 2s;
    text-shadow: #50eaaa;
}
.list{
    list-style: none;
    padding-left: 6rem;
    
}
.nav-list ul{
   
   padding-top: 0px;
    justify-content: space-between;
    display: flex;
    margin: 7px;
}

a{
    display: block;
    text-decoration:none;
    cursor:pointer;
    font-size: 18px;
    color: white;
    transition:0.8s ease-in-out;
}

.nav-list ul a:hover{ color: coral;}

.heading{
    background: url(images/codeing.jpg);
    min-height: 32rem;
    max-width:100%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 35px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    padding: 15px;
    width: 45px;
    height: 45px;
    margin-bottom:15px ;
    margin-left: 0px;
    border-radius: 4px;
}
#myBtn img{
    width: 45px;
    height: 45px;
    border-radius: 10px;

}

.content-body{
    background: url(images/body.png);
    min-height: 760px;
}

.hamppers{
    background: url(images/hampper.png);
    min-height: 760px;
}

.content1{
    position: relative;
    color: #d430cc;
    padding: 13px 0px 0px 293px;
    align-content: center;
    width: auto;
    
}
.para1{
    color:black;
    font-size: 18px;
    max-width: 358px;
    font-style:normal;
    font-family: 'Open Sans', sans-serif;
    padding: 77px 0px 0px 32px;
    overflow-wrap: break-word;
    overflow-y: hidden;
}


.btn-degn{
    position: relative;
    align-items: center;
    display: flex;
    width: 3rem;
    margin-top: 37px;
    left: 178px;
    border-radius: 40px;
    padding: 11px;
    border: none;
    background: linear-gradient(45deg, #50eaaa, #843eb0);
    color: white;
    justify-content: space-around;
    font-family: cursive;
    font-size: 20px;
    transition: 3s ease-in-out;
}
.btn-degn i{font-weight: bold;}

.btn-degn span{display: none; color: transparent;}

.btn-degn:hover{
    transition: 3s ease-in-out;
    background: linear-gradient(80deg,#50eaaa,#843eb0);
    color:#e0d6c7;
    width: 8rem;
}
.btn-degn:hover span{
    transition-delay: 2s;
    ;
    display:block;
    color: white;
}



